{% extends "index.html.twig" %}

{% block section %}
<div class="container-fluid p-0">
    <img src="img/banniere.jpg" alt="Image de l'iut" class="img-fluid full-width-image">
</div>
<div class="text-center mt-5">
    <h2>SAÉ 3.DWeb-DI.01</h2>
</div>
<div class="my-5 mx-5">
    <p>Cette application web a pour but de mettre en œuvre les enseignements des modules “Design d’expérience”, “Développement Front et intégration”, “Développement Back”, “Gestion de projet”, et plus généralement l’ensemble des enseignements de 1ère année (HTML, CSS, modélisation, SQL, ergonomie, etc.). 
</br>Le sujet retenu est la réalisation d’une application web de consultation et gestion des projets étudiants du BUT MMI. L’objectif est d’avoir une plateforme qui centralise l’ensemble des projets qui sont réalisés chaque année au département MMI. Les utilisateurs de l’application pourront donc consulter les projets réalisés par les précédentes promotions et ajouter à leur tour les projets auxquels ils ont participé.</p>
</div>
{% endblock %}
