{% extends "index.html.twig" %}

{% block section %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" action="index.php" class="well">
        <fieldset>
            <h3 class="text-center mb-5">Supprimer une categorie</h3>
            <select name="id_categorie" class="form-control form-control-sm">
            <option value="" disabled selected>Choisissez la categorie</option>
            {% for categorie in categorieList %}
                <option value={{categorie.id_categorieList}}>{{categorie.categorieList}}</option>
            {% endfor %}
            </select>
            <input type="submit"  name="valider_suppcategorie" value="valider" class="btn btn-primary btn-dark w-100 mt-5" />
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}