{% extends "index.html.twig" %}

{% block section %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" action="index.php" class="well">
        <fieldset>
            <h3 class="text-center mb-5">Supprimer un contexte</h3>
            <select name="id_contexte" class="form-control form-control-sm">
            <option value="" disabled selected>Choisissez le contexte</option>
            {% for contexte in contexteList %}
                <option value={{contexte.id_contexteList}}>{{contexte.identifiantList}}&emsp;{{contexte.matiereList}}</option>
            {% endfor %}
            </select>
            <input type="submit"  name="valider_suppcontexte" value="valider" class="btn btn-primary btn-dark w-100 mt-5" />
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}